#products .product-title, .featured-products .product-title, .product-accessories .product-title, .product-miniature .product-title {
    text-transform: uppercase;
}

#products .product-description, .featured-products .product-description, .product-accessories .product-description, .product-miniature .product-description{
    height: auto;
    text-align: center;
}